body {
    background-color: black;
}
#app {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.marker {
  position: absolute;
  width: 80px;
  left: 360px;
  top: -20px;
  z-index: 2;
}

.wheel {
  width: 100%;
  height: 100%;
}

.button {
  display: block;
  width: 250px;
  margin: 40px auto;
  cursor: pointer;
  position: relative;
  z-index: 999;
}

.button:hover {
  opacity: 0.8;
}

.blur {
  animation: blur 10s;
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }
  80% {
    filter: blur(1.5px);
  }
  100% {
    filter: blur(0px);
  }
}
